body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
}

.itemList {
  list-style: none;
  display: flex;
  column-gap: 25px;
  border: 1px solid #fff;
  border-radius: 100px;

  padding: 10px 5px;
  justify-content: center;
}

.geenBack {
  background-color: #87b38d;
}

.orngBack {
  background-color: #fec89a;
}

.container {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 30%;
  text-align: center;
}

.addItem{
  border: 1px solid black;
}